In [1]:
import sqlite3

# Replace 'your_database.db' with the actual name of your SQLite database file
database_file = '/efs/data/addressdb_geo.sqlite'

# Connect to the SQLite database
connection = sqlite3.connect(database_file)
cursor = connection.cursor()

# Get the list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Iterate through each table and print its columns
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    # Get the columns for the current table
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()

    # Print the columns
    for column in columns:
        column_name = column[1]
        print(f"  {column_name}")

# Close the connection
connection.close()

Table: addresses
  id
  zipcode
  number
  street
  street2
  city
  state
  latitude
  longitude

Table: sqlite_sequence
  name
  seq

In [2]:
#! wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

In [3]:
#! unzip chinook.zip

In [4]:
import sqlite3
import pandas as pd

# Replace 'your_database.db' with the actual name of your SQLite database file
#database_file = 'your_database.db'

# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'addresses'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name} where zipcode = '57103';"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

              id zipcode number         street street2         city state  \
0      190993046   57103      1  S SECLUDED PL          SIOUX FALLS    SD
1      191123695   57103      1   S ELKJER CIR          SIOUX FALLS    SD
2      191028200   57103     10   S ELKJER CIR          SIOUX FALLS    SD
3      190992552   57103    100  S WAYLAND AVE          SIOUX FALLS    SD
4      191018152   57103    100    N OMAHA AVE          SIOUX FALLS    SD
...          ...     ...    ...            ...     ...          ...   ...
12291  190993636   57103    960   S BLAINE AVE          SIOUX FALLS    SD
12292  191224287   57103    960       E 1ST ST          SIOUX FALLS    SD
12293  190982024   57103    961   S BLAINE AVE          SIOUX FALLS    SD
12294  191224285   57103    962   S BLAINE AVE          SIOUX FALLS    SD
12295  191128860   57103    966   S BLAINE AVE          SIOUX FALLS    SD

        latitude  longitude
0      43.512297 -96.700814
1      43.521749 -96.695312
2      43.520576 -96.691476
3      43.547452 -96.707293
4      43.547358 -96.697416
...          ...        ...
12291  43.537735 -96.692409
12292  43.557565 -96.714208
12293  43.537721 -96.692932
12294  43.538386 -96.692583
12295  43.537686 -96.692156

[12296 rows x 9 columns]

In [5]:
df.head()

,id,zipcode,number,street,street2,city,state,latitude,longitude
0,190993046,57103,1,S SECLUDED PL,,SIOUX FALLS,SD,43.512297,-96.700814
1,191123695,57103,1,S ELKJER CIR,,SIOUX FALLS,SD,43.521749,-96.695312
2,191028200,57103,10,S ELKJER CIR,,SIOUX FALLS,SD,43.520576,-96.691476
3,190992552,57103,100,S WAYLAND AVE,,SIOUX FALLS,SD,43.547452,-96.707293
4,191018152,57103,100,N OMAHA AVE,,SIOUX FALLS,SD,43.547358,-96.697416

In [6]:


# Replace 'ash' with the substring you are looking for
substring = 'ash'

# Use str.contains to filter rows based on the condition
filtered_df = df[df['street'].str.contains(substring, case=False, na=False)]

# Print the filtered DataFrame
print(filtered_df)

             id zipcode number           street street2         city state  \
8194  191025713   57103   4100  S ASH GROVE AVE          SIOUX FALLS    SD
8221  191016831   57103   4101  S ASH GROVE AVE          SIOUX FALLS    SD
8536  191023601   57103   4200  S ASH GROVE AVE          SIOUX FALLS    SD
8568  190997496   57103   4201  S ASH GROVE AVE          SIOUX FALLS    SD
8606  191020215   57103   4204  S ASH GROVE AVE          SIOUX FALLS    SD
...         ...     ...    ...              ...     ...          ...   ...
9766  191029290   57103   4708  S ASH GROVE AVE          SIOUX FALLS    SD
9804  191019377   57103   4801  S ASH GROVE AVE          SIOUX FALLS    SD
9823  191116836   57103   4804  S ASH GROVE AVE          SIOUX FALLS    SD
9826  190990442   57103   4805  S ASH GROVE AVE          SIOUX FALLS    SD
9837  190991497   57103   4808  S ASH GROVE AVE          SIOUX FALLS    SD

       latitude  longitude
8194  43.507343 -96.706294
8221  43.507306 -96.706931
8536  43.507088 -96.706243
8568  43.506787 -96.706700
8606  43.506901 -96.706099
...         ...        ...
9766  43.501524 -96.703182
9804  43.500983 -96.703698
9823  43.500914 -96.703114
9826  43.500653 -96.703730
9837  43.500681 -96.703153

[66 rows x 9 columns]

In [7]:
filtered_df.shape

(66, 9)

In [8]:
filtered_df.to_csv('ash.csv')

In [9]:
# Assuming your DataFrame is named 'df'
df = filtered_df
# Replace '44' with the prefix you are looking for
prefix = '44'

# Use str.startswith to filter rows based on the condition
filtered_df = df[df['number'].str.startswith(prefix, na=False)]

# Print the filtered DataFrame
print(filtered_df)

             id zipcode number             street street2         city state  \
9182  190994505   57103   4400  S MOUNTAIN ASH DR          SIOUX FALLS    SD
9211  191024475   57103   4401    S ASH GROVE AVE          SIOUX FALLS    SD
9212  191024804   57103   4401  S MOUNTAIN ASH DR          SIOUX FALLS    SD
9244  191018771   57103   4404  S MOUNTAIN ASH DR          SIOUX FALLS    SD
9251  191027124   57103   4404    S ASH GROVE AVE          SIOUX FALLS    SD
9280  191025028   57103   4405    S ASH GROVE AVE          SIOUX FALLS    SD
9286  191029111   57103   4405  S MOUNTAIN ASH DR          SIOUX FALLS    SD
9316  191021926   57103   4408    S ASH GROVE AVE          SIOUX FALLS    SD
9321  191031536   57103   4408  S MOUNTAIN ASH DR          SIOUX FALLS    SD
9329  190981074   57103   4409  S MOUNTAIN ASH DR          SIOUX FALLS    SD
9351  191023809   57103   4409    S ASH GROVE AVE          SIOUX FALLS    SD
9371  190992553   57103   4412    S ASH GROVE AVE          SIOUX FALLS    SD
9401  191047042   57103   4413    S ASH GROVE AVE          SIOUX FALLS    SD
9416  191016730   57103   4416    S ASH GROVE AVE          SIOUX FALLS    SD
9431  190989542   57103   4417    S ASH GROVE AVE          SIOUX FALLS    SD
9447  191027286   57103   4420    S ASH GROVE AVE          SIOUX FALLS    SD
9455  190990740   57103   4421    S ASH GROVE AVE          SIOUX FALLS    SD
9462  190998124   57103   4424    S ASH GROVE AVE          SIOUX FALLS    SD

       latitude  longitude
9182  43.505026 -96.704617
9211  43.504934 -96.703994
9212  43.504856 -96.705186
9244  43.504814 -96.704463
9251  43.504884 -96.703238
9280  43.504789 -96.703788
9286  43.504658 -96.705032
9316  43.504689 -96.703175
9321  43.504567 -96.704337
9329  43.504440 -96.704945
9351  43.504557 -96.703717
9371  43.504434 -96.703056
9401  43.504302 -96.703728
9416  43.504240 -96.703127
9431  43.504074 -96.703712
9447  43.504018 -96.703058
9455  43.503808 -96.703707
9462  43.503814 -96.703108

In [10]:
filtered_df.shape

(18, 9)

In [11]:
# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'artists'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

DatabaseError: Execution failed on sql 'SELECT * FROM artists;': no such table: artists

In [ ]:
artist_of_interest = 9

In [ ]:
# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'albums'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name} where ArtistID = {artist_of_interest};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

In [ ]:
# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'artists'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name} where ArtistId = {artist_of_interest};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)