In [1]:
import sqlite3

# Replace 'your_database.db' with the actual name of your SQLite database file
database_file = 'chinook.db'

# Connect to the SQLite database
connection = sqlite3.connect(database_file)
cursor = connection.cursor()

# Get the list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Iterate through each table and print its columns
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    # Get the columns for the current table
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()

    # Print the columns
    for column in columns:
        column_name = column[1]
        print(f"  {column_name}")

# Close the connection
connection.close()

Table: albums
  AlbumId
  Title
  ArtistId

Table: sqlite_sequence
  name
  seq

Table: artists
  ArtistId
  Name

Table: customers
  CustomerId
  FirstName
  LastName
  Company
  Address
  City
  State
  Country
  PostalCode
  Phone
  Fax
  Email
  SupportRepId

Table: employees
  EmployeeId
  LastName
  FirstName
  Title
  ReportsTo
  BirthDate
  HireDate
  Address
  City
  State
  Country
  PostalCode
  Phone
  Fax
  Email

Table: genres
  GenreId
  Name

Table: invoices
  InvoiceId
  CustomerId
  InvoiceDate
  BillingAddress
  BillingCity
  BillingState
  BillingCountry
  BillingPostalCode
  Total

Table: invoice_items
  InvoiceLineId
  InvoiceId
  TrackId
  UnitPrice
  Quantity

Table: media_types
  MediaTypeId
  Name

Table: playlists
  PlaylistId
  Name

Table: playlist_track
  PlaylistId
  TrackId

Table: tracks
  TrackId
  Name
  AlbumId
  MediaTypeId
  GenreId
  Composer
  Milliseconds
  Bytes
  UnitPrice

Table: sqlite_stat1
  tbl
  idx
  stat

In [2]:
#! wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

In [3]:
#! unzip chinook.zip

In [4]:
import sqlite3
import pandas as pd

# Replace 'your_database.db' with the actual name of your SQLite database file
#database_file = 'your_database.db'

# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'albums'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [5]:
df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [6]:
# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'artists'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [15]:
artist_of_interest = 9

In [16]:
# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'albums'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name} where ArtistID = {artist_of_interest};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

   AlbumId                Title  ArtistId
0       12  BackBeat Soundtrack         9

In [17]:
# Connect to the SQLite database
connection = sqlite3.connect(database_file)

# Specify the table name (replace 'albums' with your actual table name)
table_name = 'artists'

# Query to select all rows from the specified table
query = f"SELECT * FROM {table_name} where ArtistId = {artist_of_interest};"

# Use Pandas to read the SQL query result into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the connection
connection.close()

# Print the DataFrame
print(df)

   ArtistId      Name
0         9  BackBeat